:root {
    --primary-color:  #003d77;
    --secondary-color: #A4A4A4;
    --tertiary-color: #FFFFFF;
    --outra-color: #024c9e;
    --yellow-color: #f8ca08;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
}

.sec1 {
    background-color: var(--primary-color);
    height: 100vh;
    color: var(--tertiary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.group1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.group11 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.group1 h2 {
    padding: 20px;
}

.group1 a {
    padding: 10px;
    margin: 15px;
    color: var(--yellow-color);
    background-color: var(--outra-color);
    font-size: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 570px;
    font-size: 45px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 80px;
}

.info p {
    font-size: 36px;
    color: var(--tertiary-color);
}

a {
    text-decoration: none;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    width: 530px;
    height: 550px;
    border: 1px solid;
    color: #000;
    background-color: var(--tertiary-color);
    border-radius: 10px;
}

.table h2 {
    border-bottom: 2px solid;
    margin: 10px;
    width: 500px;
    color: #3f96e1;
}

.sec2 {
    background-color: var(--primary-color);
    height: 700px;
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2 h1 {
    padding: 20px;
    margin-top: 30px;
    color: var(--yellow-color);
    font-size: 36px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #fff;
    width: 362px;
    height: 300px;
    padding: 20px;
    margin-left: 40px;
    border-radius: 10px;
}

.card:hover{
    transform: translateY(-10px); 
}

.card h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.card p {
    font-size: 30px;
    color: var(--secondary-color);
    text-align: justify;
}

.btn {
    font-size: 12px;
    width: 200px;
    height: 40px;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: #000;
}

.sec4 {
    background-color: var(--outra-color);
    height: 80vh;
    color: var(--yellow-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sec4 p {
    margin-top: 20px;
    font-size: 29px;
    width: 570px;
    height: 300px;
    color: #fff;
}

.img {
    width: 500px;
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* ... seu código CSS anterior ... */

/* Media Query para Telas Menores */
@media (max-width: 980px) {
    .sec1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .sec2{
        height: 100vh;
        
    }
    .table{
        width: 300px;
    }
    
    .sec4 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
    }
    .sec4 p{
        margin-bottom: 80px;
        width:280px;
        padding: 10px;
        font-size: 20px;
    }

    .group11{
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .group1{
        padding: 5px;
    }

    .info{
        padding: 0;
        width: 100%;
        font-size: 30px;
    }
    .table{
        width: 70%;
        height: 280px;
    }
    .table h2{
        width: 70%;
    }
    .cards {
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: 0;
    }

    .card{
        flex-direction: column;
        align-items: center;
        margin: 5px;
        width: 300px;
    }
    .img{
        display: none;
    }
    footer{
        padding: 0;
    }
}

